APP_URL=http://你的VPS_IP

# 运行 docker compose run --rm dujiaoka php artisan key:generate 生成
APP_KEY=

DB_HOST=dujiaoka-db
DB_DATABASE=dujiaoka
DB_USERNAME=dujiaoka
DB_PASSWORD=请修改为你的数据库密码

DB_ROOT_PASSWORD=请修改为你的root密码
